/*----------Fonts--------------------------------*/
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal; 
    src: url('assets/Lato/Lato-Thin.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('assets/Lato/Lato-Light.ttf'); 
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('assets/Lato/Lato-Regular.ttf'); 
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal; 
    src: url('assets/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal; 
    src: url('assets/Lato/Lato-Black.ttf');
}


/*----------Common styles-------------------------*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #666d89;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 100%;
}

.container{
    margin: 0 auto;
    padding: 0 40px;
}

/*----------Section Header-------------------------*/

.getQuote{
    margin: 0 auto;
    width: 1020px;
    background-color: #f06c64;
    border-bottom: 7px solid #ea676b;
}

.getQuote__body h1{
    color: #ffffff; 
    font-weight: 900;
    font-size: 30px;
    margin-top: 59px;
}

.getQuote_descr{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 30px;
    margin-top: 18px;
    text-align: justify;
}


.getQuote__form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 44px;
}

.getQuote__form_columnFirst{
    display: flex;
    flex-direction: column; 
    width: 66.6%;
}
.getQuote__form_columnSecond{
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.getQuote_input{
    font-size: 12px;
    line-height: 38px;
    color: #ffffff;
    padding: 0 15px;
    background-color: #d6564f;
    border-radius: 5px;
    width: 620px;
    margin-bottom: 16px;
}

.getQuote_area{
    font: 12px 'Lato-Regular', sans-serif;
    color: white;
    line-height: 38px;
    height: 202px;
    resize: none;
    overflow: hidden;
}

textarea:focus, input:focus {
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: #fff;}
textarea:-moz-placeholder {
    color: #fff;}

input::-webkit-input-placeholder {color:#fff; opacity:1;}/* webkit */
input::-moz-placeholder          {color:#fff; opacity:1;}/* Firefox 19+ */
input:-moz-placeholder           {color:#fff; opacity:1;}/* Firefox 18- */
input:-ms-input-placeholder  { color: #fff;}
input:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
input:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
input:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
input:focus:-ms-input-placeholder      {opacity:0;}/* IE */

.getQuote_submit{
    margin-bottom: 10px;
}

.getQuote_submit:hover{
    font-size: 14px;
    transition: font-size .4s ease 0s;
}

.contactInf{
    padding-left: 13px;
}

.contactInf h3{
	font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.004em;
    margin-top: -2px;
}

.contactInf_descr{
	font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    text-align: justify;
    word-break: break-word;
    padding-top: 8px;
    padding-bottom: 24px;
}

.contactInf_data span{
    padding-right: 10px;
}

.local{
    margin-left: 3px;
}

.contactInf_data{
	font-weight: 300;
    font-size: 12px; 
    line-height: 22px;
    color: #ffffff;
    padding-left: 1px;
}

footer{
    display: flex;
    flex: 0 0 100%;
    margin: 0 auto;
    height: 76px;
    width: 1020px;
    background-color: #2d303a; 
}

.footer__inf{
    display: flex;
    flex-direction: row;
}

.footer__inf_column{
    display: flex;
    flex-direction: column;
}

.footer__inf_column p{
	 font-weight: 300;
    font-size: 11px;
    line-height: 30px;
    padding-top: 22px;
    letter-spacing: 0.04em;
}

.social {
    display: flex;
    margin-top: 19px;
    margin-left: 685px;
}

.social a{
    padding-left: 8px;
}