/*----------Fonts--------------------------------*/
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
    src: url('assets/Lato/Lato-Thin.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('assets/Lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('assets/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('assets/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    src: url('assets/Lato/Lato-Black.ttf');
}

/* -----------colors------- */
:root{
    --carmin: #f06c64;
    --mazarine: #2d303a;
    --navy: #636e8b;
    --pearl: #ffffff ;
}
/*----------Common styles-------------------------*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #666d89;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--navy);
    padding-top: 60px;
}

.descr {
    font-weight: 300;
    font-size: 18px;
    color: var(--navy);
    line-height: 30px;
    text-align: justify;
    padding-top: 17px;
}

/*----------Section Header-------------------------*/

.header{
    background-color: var(--mazarine);
    border-bottom: 7px solid #323746;
    width: 1020px;
    max-width: 100%;
    height: 95px;
    position: fixed;
}

header{
    position: relative;
    z-index: 50;
    max-width: 1020px;
    margin: 0 auto;
    height: 95px;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: block;
    padding-top: 28.5px;
}

.logo{
    color: var(--pearl);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.015em;
    position: var(--carmin);
}

.red{
    font-size: 1.4em;
    position: absolute;
    color: var(--carmin);
}

.header__menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding-top: 35px;
}

.header__menu li{
    position: relative;
    margin-left: 30.1px;
}

.header__menu li:not(:last-child)::after{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #3a4051;
    left: 140%;
    bottom: 5.6px;
}

.header__menu li:nth-child(2):after{
    left: 126%;
}

.header__menu li:nth-child(3):after{
    left: 121%;
}

.header__menu li:nth-child(4):after{
    left: 135%;
}

.menu_link{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: var(--pearl);
    cursor: pointer;
    transition: color 0.7s ease 0s;
}

.menu_link:hover{
    color: var(--carmin);
}

.menu_link.active{
    border: none;
    color: var(--carmin);
}

/*------------------------------------------Burger*/
.menu-header__icon{
    display: none;
    position: relative;
    top: 18px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
}
.menu-header__icon span{
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu-header__icon span:first-child{
    top: 0;
}
.menu-header__icon span:last-child{
    top: auto;
    bottom: 0;
}
.menu-header__icon.active {
    transform: rotate(90deg);
}


@media (max-width: 560px) {
    .header__logo{
        margin: 0 auto;
        z-index: 22;
    }

    .menu-header__icon {
        display: block;
        z-index: 21;
    }

    .header__menu {
        position: fixed;
        width: 270px;
        height: 800px;
        top: 0;
        left: -110%;
        background-color: #2D303A;
        z-index: 20;
        padding: 80px 10px 20px 10px;
        overflow: auto;
        transition: all 0.3s ease 0s;
    }

    .header__menu ul{
        display: block;
        text-align: start;
        margin-top: 70px;
    }

    .header__menu li {
        margin: 0 0 45px 85px;
    }

    .header__menu a {
        font-size: 20px;
    }

    .header__menu.active {
        left: 0;
    }
} 

/*----------Section Slider-------------------------*/
.slider{
    position: relative;
    margin: 0 auto;
    height: 600px;
    width: 100%;
    max-width: 1020px;
    background-color: var(--carmin);
    border-bottom: 6px solid #ea676b;
    scroll-margin-top: 80px;
}

.slider__cellphone{
    position: absolute;
    width: 1020px;
    max-width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from { opacity: .4}
    to {  opacity: 1}
}
@keyframes fade { 
    from { opacity: .4}
    to { opacity: 1}
}

.slider__btn{
    position: absolute;
    left: 40px;
    z-index: 10;
}

.slider__btn.left{
    left: 94.3%;
}

.btn-slider.right, .btn-slider.left{
    margin-top: 282px;
    margin-left: 2px;
    width: 16px;
    height: 27px;
    background-color: transparent;
    background-image: url("assets/chev.png");
    cursor: pointer;
    outline: none;
}

.btn-slider.right{
    transform: rotate(180deg);
}

.btn-slider.right:active, .btn-slider.right:hover, .btn-slider.left:active, .btn-slider.left:hover{
    outline: none!important;
    background-image: url("assets/btn.png");
    transition: 0.6s ease;
}

.btn-slider.right:active, .btn-slider.right:hover{
    transform: rotate(180deg);
}

.slider_cellphone1 {
    display: inline-block;
    width: 240px;
    height: 458px; 
    margin-top: -33px;
    position: relative;
}
  
.slider_cellphone1 .bg_left{
    position: absolute;
    background-image: url("assets/mobile/Layer 6.png");
    background-position: 3.4% 54.5%;
    z-index: 5;
    overflow: hidden;
    top: 63px;
    left: 9px;
    width: 190px;
    height: 336px;
    outline: 2px auto;
}

.slider_cellphone1 .bg_left img{
    object-fit: none;
    position: absolute;
    width: 100%;
    height: 95%;
    margin-left: -10px;
    z-index: 5;
}
  
img.bg_shadow{
    right: 4px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}
  
img.bg_base{
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 17px;
    z-index: 1;
}
  
img.bg_camera{
    object-fit: contain;
    position: absolute;
    top: 16px;
    left: 82px;
    z-index: 3;
}
  
  
.slider_cellphone2{
    display: inline-block;
    width: 490px;
    height: 215px;
    margin-bottom: 122px;
    margin-left: 51px;
    position: relative;
}
   
.slider_cellphone2 .bg_right {
    position: absolute;
    overflow: hidden;
    background-image: url("assets/mobile/Layer 5.jpg");
    background-position: 50.4% 30.3%;
    z-index: 5;
    top: 13px;
    left: 70px;
    width: 334px;
    height: 190px;
    outline: 2px auto;
}

.bg_right.blackScreen, .bg_left.blackScreen{
    background-image: none;
    background-color: #000; 
}

.slider_cellphone2 .bg_right img{
    object-fit: none;
    position: absolute;
    width: 100%;
    height: 95%;
    margin-left: -10px;
    z-index: 5;
}
  
img.bg_shadow_right{
    left: 12px;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}
  
img.bg_base_right{
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 5px;
    z-index: 1;
}
  
img.bg_camera_right{
    object-fit: contain;
    position: absolute;
    top: 86px;
    left: 19px;
    z-index: 3;
}

.slide__second{ 
    background-color: #648bf0; 
    width: 100%;
    height: 100%;
    position: relative;
}

.slide__second__phone{
    width: 60%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('assets/mobile/second-phone.png');
    background-position: center;
    background-repeat: no-repeat;
}

.slide__second__phone__layer{
    position: absolute;
    width: 202px;
    height: 356px;
    left: 48.5%;
    top: 48.4%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.slide__second__phone__layer.lol{
    background-image: url("assets/mobile/p.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.slide__third{
    background-image: url('assets/mobile/Slide-3.png');
    background-position: center;
    width: 100%;
    height: 100%;
}


/*----------Section Services-------------------------*/
.services{
    margin: 0 auto;
    min-height: 500px;
    width: 100%;
    max-width: 1020px;
    background-color: #f2f2f2;
    border-bottom: 6px solid var(--pearl);
    scroll-margin-top: 80px;
}

.services__title_h h1{
    font-weight: 900;
    padding-top: 59px;
}

.services__title_descr{
    padding-top: 18.4px;
}

.services__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 42px;
}

.services__item_block{
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    height: 122.2px;
    max-width: 310px;
    padding-top: 1px;
    overflow: hidden;
}

.item_icon{
    padding-right: 19px;
    padding-top: 2px;
}

.item_descr h1{
    font-size: 18px;
    padding-top: 0;
}

.item_descr p{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.75em;
    text-align: justify;
    padding-top: 8px;
    padding-right: 12px;
}

@media (max-width: 699px) {
    .services__item_block {
        max-width: 500px;
    }
    .item_descr p {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .services__item_block {
        margin-bottom: 10px;
    }
}

/*------------Section portfolio----------*/
.portfolio {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-height: 869px;
    background-color: var(--mazarine);
    border-bottom: 6px solid #323746;
    scroll-margin-top: 80px;
}

.portfolio__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 11px;
}

.portfolio__buttons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.portfolio_btn {
    display: block;
    color: var(--navy);
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.01em;
    padding: 2.7px 8px;
    border: 1px solid var(--navy);
    border-radius: 5px;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
} 

.portfolio_btn:hover, .portfolio_btn:active, .active_tab {
    color: var(--pearl);
    border: 1px solid var(--pearl);
}

.gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 17px 20px;
    grid-auto-rows: 190px;
    max-height: 600px;
    overflow: hidden;
    margin: 19px 0 63px 0;
}

.gallery__item {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;  
    cursor: pointer;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        max-height: 900px;
    }
}
@media (max-width: 500px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        max-height: 1200px;
    }
}
@media (max-width: 377px) {
    .portfolio_btn {
        font-size: 10px;
    }
}


/*----------Section about-us-------------------------*/
.about {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    background-color: #f2f2f2;
    border-bottom: 6px solid var(--pearl);
    scroll-margin-top: 80px;
}

.about-us__title h1 {
    font-weight: 900;
}

.about-us__title_descr {
    padding-top: 17px;
}

.personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 64px;
}

.personal__column {
    flex: 0 0 33.333%;
    margin-right: 7px;
}

.personal__block {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    flex: 0 1 auto;
    max-width: 310px;
}

.personal__block h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--navy);
    padding-top: 15px;
    max-height: 35px;
    overflow: hidden;
}

.personal__block p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.75em;
    text-align: justify;
    color: var(--navy);
    padding: 10px 12px 0 0;
    max-height: 54px;
    overflow: hidden;
}

.personal__block p.first_p {
    word-spacing: -0.4px;
}

.personal_photo img {
    max-height: 100%;
    max-width: 100%;
}

.personal_social {
    display: inline-block;
    margin-top: 24px;
}

.personal_social a {
    margin-right: 5px;
    opacity: 0.7;
}

.personal_social a:hover {
    margin-right: 5px; 
    opacity: 1;
}

@media (max-width: 552px) {
    .personal {
        flex-wrap: wrap;
    }
    .personal_photo {
        height: 300px;
    }
    .personal_photo img {
        min-width: 100%;
        max-height: 100%;
        max-width: 450px;
    }
    .personal_social {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*----------------------------Section contacts----------*/
.getQuote{
    margin: 0 auto;
    margin-top: -3px;
    width: 100%;
    max-width: 1020px;
    background-color: var(--carmin);
    border-bottom: 6px solid #ea676b;
}

.getQuote__body h1{
    color: var(--pearl);
    font-weight: 900;
    letter-spacing: -0.003em;
    padding-top: 59px;
}

.getQuote_descr{
    font-size: 18px;
    font-weight: 300;
    color: var(--pearl);
    line-height: 30px;
    margin-top: 18px;
    text-align: justify;
}

.getQuote__form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 44px;
}

.getQuote__form_columnFirst{
    display: flex;
    flex-direction: column;
    flex: 0 1 66.6%;
}

.getQuote__form_columnSecond{
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
 
.getQuote_input{
    font-size: 11.5px;
    line-height: 38px;
    color: var(--pearl);
    padding: 0 15px;
    background-color: #d6564f;
    border-radius: 5px;
    max-width: 620px;
    width: 100%;
    margin-bottom: 16px;
}

.getQuote_input:invalid:focus, input[type='text']:first-child:invalid:focus{
    outline: 2px solid red; 
    outline-style: auto;
}

.getQuote_area{
    font: 12px 'Lato-Regular', sans-serif;
    color: var(--pearl);
    line-height: 28px;
    height: 202px;
    resize: none;
    overflow: hidden;
}

textarea:focus, input:focus {
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: var(--pearl);}
textarea:-moz-placeholder {
    color: var(--pearl);}

input::-webkit-input-placeholder {color:var(--pearl); opacity:1;}/* webkit */
input::-moz-placeholder          {color:var(--pearl); opacity:1;}/* Firefox 19+ */
input:-moz-placeholder           {color:var(--pearl); opacity:1;}/* Firefox 18- */
input:-ms-input-placeholder  { color:var(--pearl);}
input:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
input:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
input:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
input:focus:-ms-input-placeholder      {opacity:0;}/* IE */

.getQuote_submit{
    margin-bottom: 10px;
    user-select: none;
}

.getQuote_submit:hover{
    cursor: pointer;
    font-size: 14px;
    transition: font-size .4s ease 0s;
}

.contactInf{
    padding-left: 13px;
}

.contactInf h3{
    font-weight: 700;
    font-size: 18px;
    color:var(--pearl);
    letter-spacing: 0.004em;
    margin-top: -2px;
}

.contactInf_descr{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: var(--pearl);
    text-align: justify;
    word-break: break-word;
    padding-top: 8px;
    padding-bottom: 24px;
}

.contactInf_data span{
    padding-right: 10px;
}

.contactInf_data a{
    color: #ffffff;
}

.local{
    margin-left: 3px;
}

.contactInf_data{
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: var(--pearl);
    padding-left: 1px;
    cursor: pointer;
}

@media (max-width: 552px) {
    .getQuote__form{
        flex-wrap: wrap;
    }
    .getQuote__form_columnFirst {
        flex: 1 1 100%;
    }
    .getQuote__form_columnSecond {
        margin: 20px 0;
        width: 100%;
    }
}

/*----------------------------------Footer--------------*/
footer{
    margin: 0 auto;
    height: 76px;
    width: 1020px;
    max-width: 100%;
    background-color: var(--mazarine);
}

.footer__inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright{
    display: block;
}

.footer__copyright p{
    font-weight: 300;
    font-size: 11px;
    line-height: 30px;
    padding-top: 22px;
    letter-spacing: 0.04em;
} 

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 21px;
}

.social a{
    padding-left: 8px;
    opacity: 0.7;
}

.social a:hover { 
    opacity: 1;
}

.disabled {
    display: none;
}

.modalWindow {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.4);
}

.modalWindow__content {
    position: absolute;
    z-index: 100;
    background-color: lavenderblush;
    border-radius: 10px;
    margin: 0 auto;
    color: var(--mazarine);
    font-family: 'Lato', 'Arial', sans-serif; 
    padding: 50px; 
    max-width: 450px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: shownUp;
    animation-duration: 0.5s;
}

@keyframes shownUp {
  from {top:-320px; opacity:0}
  to {top:0; opacity:1}
}

.modalWindow__frame {
    border: 2px solid #f48c8f;
    border-radius: 8px;
    padding: 10px 5px;
    margin: 5px 0;
    line-height: 35px;
    word-wrap: break-word;
}

.closeBtn {
    color: white;
    background-color: #f48c8f;
    outline: none; 
    width: 350px;
    height: 28px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    user-select: none;
}

.closeBtn:hover {
    transform: scale(1.05);
}