/*----------Fonts--------------------------------*/
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
    src: url('assets/Lato/Lato-Thin.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('assets/Lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('assets/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('assets/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    src: url('assets/Lato/Lato-Black.ttf');
}

/* -----------colors------- */
:root{
    --carmin: #f06c64;
    --mazarine: #2d303a;
    --navy: #636e8b;
    --pearl: #ffffff ;
}
/*----------Common styles-------------------------*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    width: 1200px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #666d89;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex: 1 1 100%;
    overflow: hidden;
}

.container{
    margin: 0 auto;
    padding: 0 40px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--navy);
    padding-top: 60px;
}

.descr {
    font-weight: 300;
    font-size: 18px;
    color: var(--navy);
    line-height: 30px;
    text-align: justify;
    padding-top: 17px;
}

/*----------Section Header-------------------------*/
header{
    margin: 0 auto;
    width: 1020px;
    height: 95px;
    background-color: var(--mazarine);
    border-bottom: 7px solid #323746;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: block;
    padding-top: 28.5px;
}

.logo{
    color: var(--pearl);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.015em;
    position: var(--carmin);
}

.red{
    font-size: 1.4em;
    position: absolute;
    color: var(--carmin);
}

.header__menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding-top: 35px;
}

.header__menu li{
    position: relative;
    margin-left: 30.1px;
}

.header__menu li:not(:last-child)::after{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #3a4051;
    left: 140%;
    bottom: 5.6px;
}

.header__menu li:nth-child(2):after{
    left: 126%;
}

.header__menu li:nth-child(3):after{
    left: 121%;
}

.header__menu li:nth-child(4):after{
    left: 135%;
}

.menu_link{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: var(--pearl);
    cursor: pointer;
    transition: color 0.7s ease 0s;
}

.menu_link:hover{
    color: var(--carmin);
}

.menu_link.active{
    border: none;
    color: var(--carmin);
}

/*----------Section Slider-------------------------*/
.slider{
    margin: 0 auto;
    height: 600px;
    width: 1020px;
    background-color: var(--carmin);
    border-bottom: 6px solid #ea676b;
}

.slider__cellphone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-slider.right, .btn-slider.left{
    margin-top: 52px;
    margin-left: 2px;
    width: 16px;
    height: 27px;
    background-color: transparent;
    background-image: url("assets/chev.png");
    cursor: pointer;
    outline: none;
}

.btn-slider.right{
    transform: rotate(180deg);
}

.btn-slider.right:active, .btn-slider.right:hover, .btn-slider.left:active, .btn-slider.left:hover{
    outline: none!important;
    background-image: url("assets/btn.png");
}

.btn-slider.right:active, .btn-slider.right:hover{
    transform: rotate(180deg);
}

.slider_cellphone1{
    padding-top: 53px;
    padding-right: 12px;
}

.slider_cellphone2{
    padding-top: 52.5px;
    padding-left: 7.5px;
}

.slider_cellphone1 img:hover, .slider_cellphone2 img:hover{
    transform: scale(1.01);
    transition: all 0.5s ease 0.3s;
}

/*----------Section Services-------------------------*/
.services{
    margin: 0 auto;
    height: 500px;
    width: 1020px;
    background-color: #f2f2f2;
    border-bottom: 6px solid var(--pearl);
}

.services__title_h h1{
    font-weight: 900;
    padding-top: 59px;
}

.services__title_descr{
    padding-top: 18.4px;
}

.services__items{
    display: flex;
    flex-direction: row;
    padding-top: 42px;
}

.services__item_column{
    flex: 1 0 33.3%;
}

.services__item_column.center{
    padding: 0 9px 0 7px;
}

.services__item_column.center p{
    padding-right: 0;
    word-spacing: 0.05em;
}

.services__item_column.last{
    padding-left: 13px;
}

.services__item_column.last p{
    padding-right: 0;
    word-spacing: 0.05em;
}

.services__item_block{
    display: flex;
    flex-direction: row;
    height: 122.2px;
    padding-top: 1px;
    overflow: hidden;
}

.item_icon{
    padding-right: 19px;
    padding-top: 2px;
}

.item_descr h1{
    font-size: 18px;
    padding-top: 0;
}

.item_descr p{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.75em;
    text-align: justify;
    padding-top: 8px;
    padding-right: 12px;
}

/*------------Section portfolio----------*/
.portfolio {
    margin: 0 auto;
    width: 1020px;
    height: 869px;
    background-color: var(--mazarine);
    border-bottom: 6px solid #323746;
}

.portfolio__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 11px;
}

.portfolio__buttons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.portfolio_btn {
    display: block;
    color: var(--navy);
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.01em;
    padding: 2.7px 8px;
    border: 1px solid var(--navy);
    border-radius: 5px;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.portfolio_btn:hover, .portfolio_btn:active, .active {
    color: var(--pearl);
    border: 1px solid var(--pearl);
}

.gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 17px 20px;
    grid-auto-rows: 190px;
    max-height: 600px;
    overflow: hidden;
    margin: 19px 0 63px 0;
}

.gallery__item {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.gallery__item:hover {
    background-color: var(--navy);
}

.gallery__item:hover > a {
    opacity: 0.1;
}

.gallery__item a {
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.tabs__content {
    border: none;
    display: none !important;
    /* по умолчанию прячем все блоки */
}

.tabs__content.active {
    border: none;
    display: -ms-grid !important;
    display: grid !important;
    /* по клику на определенную кнопку, показываем нужный блок и картинками */
}

/*----------Section about-us-------------------------*/
.about {
    margin: 0 auto;
    width: 1020px;
    background-color: #f2f2f2;
    border-bottom: 6px solid var(--pearl);
}

.about-us__title h1 {
    font-weight: 900;
}

.about-us__title_descr {
    padding-top: 17px;
}

.personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 64px;
}

.personal__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33.3%;
    flex: 1 0 33.3%;
    margin-right: 7px;
}

.personal__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.personal__block h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--navy);
    padding-top: 15px;
    max-height: 35px;
    overflow: hidden;
}

.personal__block p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.75em;
    text-align: justify;
    color: var(--navy);
    padding: 10px 12px 0 0;
    max-height: 54px;
    overflow: hidden;
}

.personal__block p.first_p {
    word-spacing: -0.4px;
}

.personal_photo {
    height: 300px;
}

.personal_photo img {
    height: 100%;
}

.personal_social {
    display: inline-block;
    margin-top: 24px;
}

.personal_social a {
    margin-right: 5px;
    opacity: 0.7;
}

.personal_social a:hover {
    margin-right: 5px; 
    opacity: 1;
}

/*------------Section contacts----------*/
.getQuote{
    margin: 0 auto;
    width: 1020px;
    background-color: var(--carmin);
    border-bottom: 6px solid #ea676b;
}

.getQuote__body h1{
    color: var(--pearl);
    font-weight: 900;
    letter-spacing: -0.003em;
    padding-top: 59px;
}

.getQuote_descr{
    font-size: 18px;
    font-weight: 300;
    color: var(--pearl);
    line-height: 30px;
    margin-top: 18px;
    text-align: justify;
}

.getQuote__form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 44px;
}

.getQuote__form_columnFirst{
    display: flex;
    flex-direction: column;
    width: 66.6%;
}

.getQuote__form_columnSecond{
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.getQuote_input{
    font-size: 11.5px;
    line-height: 38px;
    color: var(--pearl);
    padding: 0 15px;
    background-color: #d6564f;
    border-radius: 5px;
    width: 620px;
    margin-bottom: 16px;
}

.getQuote_input:invalid:focus, input[type='text']:first-child:invalid:focus{
    outline: 2px solid red; 
    outline-style: auto;
}

.getQuote_area{
    font: 12px 'Lato-Regular', sans-serif;
    color: var(--pearl);
    line-height: 38px;
    height: 202px;
    resize: none;
    overflow: hidden;
}

textarea:focus, input:focus {
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: var(--pearl);}
textarea:-moz-placeholder {
    color: var(--pearl);}

input::-webkit-input-placeholder {color:var(--pearl); opacity:1;}/* webkit */
input::-moz-placeholder          {color:var(--pearl); opacity:1;}/* Firefox 19+ */
input:-moz-placeholder           {color:var(--pearl); opacity:1;}/* Firefox 18- */
input:-ms-input-placeholder  { color:var(--pearl);}
input:focus::-webkit-input-placeholder {opacity:0;}/* webkit */
input:focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
input:focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
input:focus:-ms-input-placeholder      {opacity:0;}/* IE */

.getQuote_submit{
    margin-bottom: 10px;
}

.getQuote_submit:hover{
    cursor: pointer;
    font-size: 14px;
    transition: font-size .4s ease 0s;
}

.contactInf{
    padding-left: 13px;
}

.contactInf h3{
    font-weight: 700;
    font-size: 18px;
    color:var(--pearl);
    letter-spacing: 0.004em;
    margin-top: -2px;
}

.contactInf_descr{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: var(--pearl);
    text-align: justify;
    word-break: break-word;
    padding-top: 8px;
    padding-bottom: 24px;
}

.contactInf_data span{
    padding-right: 10px;
}

.contactInf_data a{
    color: #ffffff;
}

.local{
    margin-left: 3px;
}

.contactInf_data{
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: var(--pearl);
    padding-left: 1px;
}

/*-------------Footer--------------*/
footer{
    display: flex;
    flex: 0 0 100%;
    margin: 0 auto;
    height: 76px;
    width: 1020px;
    background-color: var(--mazarine);
}

.footer__inf{
    display: flex;
    flex-direction: row;
}

.footer__inf_column{
    display: flex;
    flex-direction: column;
}

.footer__inf_column p{
    font-weight: 300;
    font-size: 11px;
    line-height: 30px;
    padding-top: 22px;
    letter-spacing: 0.04em;
}

.social {
    display: flex;
    margin-top: 21px;
    margin-left: 687px;
}

.social a{
    padding-left: 8px;
    opacity: 0.7;
}

.social a:hover { 
    opacity: 1;
}
